.grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3fr 1fr;
    grid-template-columns: 1fr 3fr 1fr;
    -ms-grid-rows: 1fr 8fr 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    grid-gap: 20px;
    height: 100vh;
  }
  
  @media screen and (max-width: 60em) {
    .grid {
    -ms-grid-rows: 2fr 1fr 5fr 1fr;
    grid-template-rows: 2fr 1fr 5fr 1fr;
    }
  }
  
  .main-header,
  .search-left,
  .park-display,
  .weather,
  .footer {
    padding: 1rem;
    border: 1px solid #edededfd;
    background-color: rgba(237, 238, 237, 0);
    color: white;

  }
  
  .main-header {
    -ms-grid-column: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }
  
  @media screen and (max-width: 60em) {
    .search-left {
        -ms-grid-row: 2;
        grid-row-start: 2;
        -ms-grid-column: 1;
        grid-column-start: 1;
        grid-column-end: 4;
    }
  }
  
  @media screen and (max-width: 60em) {
    .park-display {
        -ms-grid-row: 3;
        grid-row-start: 3;
        -ms-grid-column: 1;
        grid-column-start: 1;
        grid-column-end: 4;
    }
  }
  
  @media screen and (max-width: 60em) {
    .weather {
        -ms-grid-row: 4;
        grid-row-start: 4;
        -ms-grid-column: 1;
        grid-column-start: 1;
        grid-column-end: 4;
    }
  }

  .footer {
    -ms-grid-column: 1;
    grid-column-start: 1;
    grid-column-end: 4;
  }
  
  .header {
      text-align: center;
  }

  
  .button {
    border-radius: 50px;
  }

  #map {
    padding: 250px 0 250px 0;
    border:1px solid white;
    color: white;
  }

  body {
    background-size: 100% 100%;
    background-position: center;
    animation: slide 40s infinite;
  }

  @keyframes slide {
    0%{
      background-image: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/el-capitan-rock-formation-at-sunset-yosemite-royalty-free-image-973952566-1555771719.jpg?resize=980:*');
    }
    20%{
      background-image: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/el-capitan-rock-formation-at-sunset-yosemite-royalty-free-image-973952566-1555771719.jpg?resize=980:*');
    }
    20.01%{
      background-image: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/dream-lake-at-sunrise-royalty-free-image-996409334-1555766736.jpg?crop=1xw:1xh;center,top&resize=980:*');
    }
    40%{
      background-image: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/dream-lake-at-sunrise-royalty-free-image-996409334-1555766736.jpg?crop=1xw:1xh;center,top&resize=980:*');
    }
    40.01%{
      background-image: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/angels-landing-zion-national-park-high-res-stock-photography-717173633-1555769107.jpg?crop=1xw:1xh;center,top&resize=980:*');
    }
    60%{
      background-image: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/angels-landing-zion-national-park-high-res-stock-photography-717173633-1555769107.jpg?crop=1xw:1xh;center,top&resize=980:*');
    }
    60.01%{
      background-image: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/grand-teton-national-park-wyoming-high-res-stock-photography-470539993-1555769337.jpg?crop=1xw:1xh;center,top&resize=980:*');
    }
    80%{
      background-image: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/grand-teton-national-park-wyoming-high-res-stock-photography-470539993-1555769337.jpg?crop=1xw:1xh;center,top&resize=980:*');
    }
    80.01%{
      background-image: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/trail-to-balanced-rock-in-big-bend-national-park-royalty-free-image-638014328-1555769897.jpg?crop=1xw:1xh;center,top&resize=980:*');
    }
    100%{
      background-image: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/trail-to-balanced-rock-in-big-bend-national-park-royalty-free-image-638014328-1555769897.jpg?crop=1xw:1xh;center,top&resize=980:*');
    }
  }

.weather-card {
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: black;
  width: 10px;
}